<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="./styles.css"/>
	<title>Intersection Widget</title>
	<script type="text/javascript" src="./dependencies/angular.js"></script>
	<script type="text/javascript" src="./engine/setEngine.js"></script>
	<script type="text/javascript" src="./engine/proofEngine.js"></script>
	<script type="text/javascript" src="./engine/operations.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="./services/data.js"></script>
	<script type="text/javascript" src="./controllers/intersectionController.js"></script>
	<script type="text/javascript" src="./controllers/setController.js"></script>
	<script type="text/javascript" src="./directives/draggable.js"></script>
	<script type="text/javascript" src="./directives/droppable.js"></script>
</head>
<body ng-app="app">
	<div id="intersection-controller" ng-controller="intersectionController as intersect">
		<div id="intersect1" droppable drop-allowed="intersect.dropAllowed" drop="intersect.dropSet1">
			<div ng-if="intersect.set1" class="intersect-name">{{intersect.set1.strEquivalents[0]}}</div>
			<img class="intersect-full"  ng-if="intersect.set1" ng-src="./img/intersection-{{intersect.setColors[intersect.groupNames.indexOf(intersect.set1.groupName)]}}.png" ng-style="{opacity: intersect.opacity}">
		</div>
		<div id="intersect-middle" ng-if="intersect.set1 && intersect.set2" draggable type="'intersection'" index="0" class="flashInf"></div>
		<div id="intersect2" droppable drop-allowed="intersect.dropAllowed" drop="intersect.dropSet2">
			<div ng-if="intersect.set2" class="intersect-name">
				{{intersect.set2.strEquivalents[0]}}
			</div>
			<img class="intersect-full"  ng-if="intersect.set2" ng-src="./img/intersection-{{intersect.setColors[intersect.groupNames.indexOf(intersect.set2.groupName)]}}.png" ng-style="{opacity: intersect.opacity}">
		</div>
		<div id="intersect-drop-block"></div>

	</div>
	<div id="sets" ng-controller="setController as setCtrl">
		<div id="sets-inner" droppable drop-allowed="setCtrl.dropAllowed" drop="setCtrl.drop">		
			<div ng-repeat="set in setCtrl.sets track by $index"  class="set" draggable type="'set'" index="$index">
				<div class="set-name">
					{{set.strEquivalents[0]}}
				</div>
				<img ng-src="./img/set-{{setCtrl.setColors[setCtrl.groupNames.indexOf(set.groupName)]}}.png">
			</div>
		</div>
	</div>

</body>
